.userCard {
    background-color: #f4f4f4;
    border-radius: 8px;
    max-width: 100%;
    width: 100%;
}

.userCard h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.userCard p {
    margin: 6px 0;
}

@media (max-width: 600px) {
    .userCard h2 {
        font-size: 1.1rem;
    }

    .userCard p {
        font-size: 0.9rem;
    }
}